<header>
  <div class="header-wrap">
    <nav class="nav">
      <div class="nav-left">
        <a href="./index.html">Home</a>
        <a href="./menu.html">Menu</a>
        <a href="./cart.html">Cart</a>
        <a href="./wallet.html">Wallet</a>
        <a href="./orders.html">Orders</a>
      </div>

      <div class="nav-right">
        <span id="walletDisplay" class="wallet-pill">...</span>
        <a id="loginLink" href="./login.html">Login</a>
        <a id="logoutLink" href="#" style="display:none">Logout</a>
      </div>
    </nav>
  </div>
</header>
